---
import { Icon } from 'astro-icon';
import PageLayout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
import documents from '~/utils/documents.js';
import { getCanonical, getDissertionsPermaLink } from '~/utils/permalinks';

const meta = {
  title: `${SITE.title} - List of Dissertations`,
  description: SITE.description,
  canonical: getCanonical(getDissertionsPermaLink()),
};
---

<astro:template>
  <PageLayout {meta}>
    <div class="px-2 sm:px-2 py-12 sm:py-16 lg:py-20 mx-auto max-w-6xl">
      <div class="m-4">
        <h1 class="text-xl font-bold text-center">Academic and Professional Papers</h1>
      </div>
      <div class="flex justify-center items-center">
        {
          Object.keys(documents).map((key) => (
            <div class="flex flex-nowrap">
              <div class="p-8">
                <Icon name="zondicons:news-paper" class="w-40 h-40" />
              </div>
              <div class="3/4">
                <a href={`/documents/${key}`}>
                  <table>
                    <tr>
                      <td colspan="2">
                        <h2 class="text-lg font-bold underline">{documents[key].title}</h2>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <p class="py-2">{documents[key].description}</p>
                      </td>
                    </tr>
                    <tr>
                      <>
                        <td>Document Type</td>
                        <td>{documents[key].type}</td>
                      </>
                    </tr>
                    <tr>
                      <td>First Published</td>
                      <td>{documents[key].date}</td>
                    </tr>
                  </table>
                </a>
              </div>
            </div>
          ))
        }

        <!-- Add more dissertation items as needed -->
      </div>
    </div>
  </PageLayout>
</astro:template>
