---
import { Icon } from 'astro-icon';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const links = [
	{
		title: 'Browse',
		items: [
			{ title: 'Projects', href: '#' },
			{ title: 'Resources', href: '#' },
			{ title: 'Work Experience', href: '#' },
			{ title: 'Recent Posts', href: '#' },
		],
	},
	{
		title: 'Recommended Platforms',
		items: [
			{ title: 'ChatGPT', href: 'https://chat.openai.com/chat' },
			{ title: 'Partners', href: '#' },
			{ title: 'Atom', href: '#' },
			{ title: 'Electron', href: '#' },
		],
	},
	{
		title: 'Communities',
		items: [
			{ title: 'Rotaract Club of Dillibazar Kathmandu', href: 'https://www.rotary.org/en/about-rotary' },
			{ title: 'Robotics Association of Nepal', href: 'https://roboticsassociationofnepal.business.site/' },
		],
	},
];

const social = [
	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/thescsdiary' },
	{ label: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://www.instagram.com/thesubashcs/' },
	// { label: 'Facebook', icon: 'tabler:brand-facebook', href: '#' },
	{ label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/subashcs' },
	{ label: 'mail', icon: 'tabler:mail', href: 'mailto:subashsapkota59@gmail.com' },
];

---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-7xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermalink()}>Subash Chandra Sapkota</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#"
						>Software Engineer | Tech Enthusiast
					</a>
				</div>
				<div class="text-sm text-gray-600 dark:text-gray-400 my-4">Kathmandu | Nepal</div>
			</div>
			{
				links.map(({ title, items }) => (
					<div class="col-span-8 md:col-span-4 lg:col-span-2">
						<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">{title}</div>
						{items && Array.isArray(items) && items.length > 0 && (
							<ul class="text-sm">
								{items.map(({ title, href }) => (
									<li class="mb-2">
										<a
											class="text-gray-600 hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
											href={href}
										>
											{title}
										</a>
									</li>
								))}
							</ul>
						)}
					</div>
				))
			}
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-blue-500 dark:text-blue-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-5 h-5" />
							</a>
						</li>
					))
				}
			</ul>

			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">&copy; subashcs | 2023</div>
		</div>
	</div>
</footer>
