---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

const badges = ['red', 'green', 'blue', 'yellow', 'indigo', 'purple'];

const workExperiences = [
  {
    fromDate: '2019 July',
    toDate: '2019 Dec',
    title: 'React and Node Developer',
    employer: 'ITGlance Pvt. Ltd',
    type: 'Internship',
    description: `At ITGlance, I received training in UI/UX development using HTML, CSS, Bootstrap, and React.js. I worked under the mentorship of senior developers to create a Point of Sales System. I worked on developing frontend with React interacting with CouchDB/PouchDB and used other tools like Redux, and Redux-saga for store management.
I also got hands-on experience with other projects in API development for a school management system using Node.js and Express.
Furthermore, I learned about Agile development practices, and Version control systems eg: Git, Bitbucket etc.`,
    toolsUsed: ['JavaScript', 'ReactJS', 'JIRA', 'Git'],
    accomplishments: [
      'Learned React and Node js',
      'Worked on React Frontend to create seamless user experience under the guidance of seniors',
    ],
    projects: [
      {
        title: 'meatPOS',
        description: 'Point of Sale System customized for a meat shop.',
        toolsUsed: ['React JS', 'Pouch/Couch DB', 'Electron', 'Node Js', 'Docker'],
      },
    ],
  },
  {
    fromDate: '2019 Dec',
    toDate: '2020 Oct',
    title: 'Associate Software Developer',
    employer: 'Nepal Mind Factory Pvt. Ltd.',
    type: 'Full Time',
    description: `I worked primarily on two major products: Sankalpa - the municipal data management software and CMS website - a portfolio for Nepal Mind Factory itself.
For project Sankalpa, I got the opportunity to revamp the old system as I reconfigured the project's front-end with React and Webpack and developed the User Interface with my peers. I worked on creating schema-based forms, and data visualization charts using Chart.js and interactive maps using Leaflet.js. 
The backend for this project was developed using Springboot and Postgresql database with JWT-based authentication mechanism.

In the CMS website, I worked on setting up the backend with Node.js, Express.js, and MongoDB database. I also worked on the Next.js front-end for creating our server-rendered application with my peers. I containerized our application using Docker and deployed the front-end on Vercel. The project has support for role-based access control, a JWT-based authentication mechanism, and most of the features required for a Content Management System. 

Besides the aforementioned development tools, we used Trello with kanban board for managing development workflow and Bitbucket as our version control system.`,
    tools: ['JavaScript', 'ReactJS', 'Git', 'Docker', 'Netlify', 'Trello'],
    accomplishments: [
      'Worked on React and Node js',
      'Worked on reactive programming with RxJS, and knew the concept of observables.',
      'Worked on React Frontend to create seamless user experience under the guidance of seniors',
    ],
    projects: [
      {
        title: 'Sankalpa',
        description:
          'At Nepal Mind Factory, I developed a frontend of the application named Sankalpa designed for uses in municipalities that contained maps to track households, boundaries and resources. I developed Permission based Login System. I developed multiple Forms using react-json-schema-form. I dockerized the application and helped on hosting the frontend on the nginx server.',
        tools: ['JavaScript', 'React JS', 'Postgres SQL', 'Springboot', 'Redux', 'Epic Middleware', 'RxJS', 'Docker'],
      },
      {
        title: 'Nepal Mind Factory Portfolio Website with CMS',
        description:
          'I also worked on a portfolio project for the company. I worked on creating both backend using node.js, express and mongo db as well as frontend using React , Redux etc. The websited consited many features to support a full fledge CMS system with company portfolio.',
        tools: ['Node JS', 'React JS', 'Redux', 'Redux Thunk', 'Docker'],
      },
    ],
  },
  {
    fromDate: '2020 Nov',
    toDate: '2021 Aug',
    title: 'Frontend Developer',
    employer: 'Ekbana Software Solution Pte.',
    type: 'Full Time',
    description:
      'Worked primarily on creating multiple applications involving data visualization, multi-step data analysis User interface, role-based control, a small application for insurance fraud detection, and fixing bugs on other legacy systems.',
    tools: ['JavaScript', 'VueJS', 'Vuex', 'Docker', 'Netlify', 'Git'],
    accomplishments: [
      'Learned React and Node js',
      'Worked on React Frontend to create seamless user experience under the guidance of seniors',
    ],
    projects: [
      {
        title: 'DataViz',
        description:
          'At Ekbana, I worked on this DataViz application frontend to develop a data visualization and analytics application. I translated the Figma UI designs to Vue-3.We used Vuex for store management, vue-router and internationalization as well.',
        tools: ['JavaScript', 'Vue3 JS', 'Vuex', 'Docker'],
      },
      {
        title: 'Simple Insurance Application Fraud Detection',
        description:
          'I worked developing secured authentication mechanisms for the users, managing access control on the frontend.',
        tools: ['React JS', 'React Native', 'JavaScript'],
      },
    ],
  },
  {
    fromDate: '2021 Sep',
    toDate: 'Present',
    title: 'Software Engineer',
    employer: 'Logpoint Nepal Pvt. Ltd.',
    type: 'Full Time',
    description:
      'I worked on a legacy system adding new features and fixing newly identified bugs on the front end. I developed new micro-frontends with React and help design a new micro-frontend framework. I designed multiple UI and UX features as a lead and with guidance from seniors.',
    tools: ['JavaScript', 'ExtJS', 'Python', 'MongoDB', 'Celery', 'RabbitMQ', 'Redis'],
    accomplishments: [
      'Worked closely with other developers, QA, Product Owner for fixing legacy bugs and adding new feature.',
      'Worked on Extjs Frontend to create seamless user experience',
      'Guided new developer to work on the system',
      'Designed and developed architecture for supporting new features in the existing system',
    ],
    projects: [
      {
        title: 'Logpoint Search Master',
        description: ' ------',
        tools: ['JavaScript', 'Vue3 JS', 'Vuex', 'Docker'],
      },
      {
        title: 'Director Console',
        description: 'I worked on fixing legacy bugs.',
        tools: ['React JS', 'React Native', 'JavaScript'],
      },
    ],
  },
];
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-7xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-1">
    <div class="md:pb-6 md:pr-16">
      <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">Professional Work Experience Highlights</h2>
      <div class="pl-10">
        {
          workExperiences.map((job) => {
            return (
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
                      <Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
                    </div>
                  </div>
                  <div class="w-px h-full bg-gray-300 dark:bg-zinc-500" />
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">
                    {job.fromDate} - {job.toDate}
                  </p>
                  <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">{job.title}</p>
                  <p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">{job.employer}</p>
                  <p class="text-gray-600 dark:text-slate-400">{job.description}</p>
                </div>
              </div>
            );
          })
        }

        <div class="flex">
          <div class="flex flex-col items-center mr-4">
            <div>
              <div
                class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2 bg-primary-600"
              >
                <Icon name="tabler:check" class="w-6 h-6 text-white dark:text-slate-200" />
              </div>
            </div>
          </div>
          <div class="pt-1">
            <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Today</p>
            <p class="text-gray-600 dark:text-slate-400"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
